
body
{
	background-color: lightyellow;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}
h2
{
	
	font-size:1.7em;
	clear:both;
	    padding-top: 65px;

}
section h3
{
	
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 20px;

}
section > div{
	margin-right: 5px;
	position: relative;
	margin-left:8px;
	border:1px solid black;
	background-color: lightgray;
	margin-top: 20px;

}
section p
{
	clear:both;
	margin-left:10px;
	font-size: 0.9em;
	
}
#header-nav
{
	/*width:100%;*/
	min-height: 75px;

	background-color: lightblue;
	 border-radius: 0;
     border: 0;

}

.navbar-brand h1 
{
  font-size: 1.9em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
 }
 .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

 .navbar-default .navbar-toggle {
    border-color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  
    border-color: white;
}
.navbar-default .navbar-toggle:focus .icon-bar :hover{
    background-color: white;
}
#nav-list >li>a{
    width: 100%;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    color:black;

}

#nav-list
{
	background-color: lightyellow;
}
